// Variables
var momentTime = parseInt(moment().format('H'));
var classes = [".9", ".10", ".11", ".12", ".1", ".2", ".3", ".4", ".5", ".6"]
var time = [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,];
var classIndex = time.indexOf(momentTime);
// Setting current day time in UK format
$("#currentDay").text(moment().format('dddd, MMMM D, YYYY'));
var currentDayCheck = moment().format('dddd, MMMM D, YYYY')
var userNotes = ["", "", "", "", "", "", "", "", "", "", ""]

//startup code to designate past, future and present classes to container rows
if (momentTime < 8) {
    futureMoment ();
}
else if (momentTime > 18) {
    pastMoment();
}
else {
    presentMoment()
}

//startup functions to grab data from local storage data and to determine if app opened on a new day
getData();
// verifyDay();

/// function for when time is before 9am, assigning all but the first row the future class
function futureMoment () {
    for (i = 1; i < classes.length; i++) {
        $(classes[i]).addClass("future");
    }
    $(classes[0]).addClass("present");
}

/// function for when time is after 6pm, assigning all but the last row the past class
function pastMoment() {
    for (i = 0; i < classes.length - 1; i++) {
        $(classes[i]).addClass("past");
    }
    $(classes[time.length - 1]).addClass("present");
}

/// function for middle of the day- uses moment api to determine the hour and assigns classes by that
function presentMoment() {
    $(classes[classIndex]).addClass("present");
    for (i = 0; i < classIndex; i++) {
        $(classes[i]).addClass("past");
    }
    for (i = classIndex + 1; i < classes.length; i++) {
        $(classes[i]).addClass("future");
    }
}

$(".saveBtn").on("click", function () {
    var j = $(this).data('index');
    userNotes[j] = $(classes[j]).val();
    localStorage.setItem('userNotes', JSON.stringify(userNotes))
})

function getData() {
    userNotes = JSON.parse(localStorage.getItem("userNotes"));
    if (userNotes == null) {
        userNotes = ["", "", "", "", "", "", "", "", "", "",];
        return;
    }
    for (i =0; i < classes.length; i++) {
        ($(classes[i])).val(userNotes[i]);
    }
}

$(".clear").on("click", function () {
    clearPlan()
})

function clearPlan() {

}

